[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-datareader = "*"
python-dotenv = "*"
matplotlib = "*"
jupyter = "*"
mplfinance = "*"
ipympl = "*"
ipykernel = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.9"
